
.filter{
    padding: 10px 10px 10px ;
    margin :10px ;
    background-color: #F5F5F5;
}
.line-thro.card-title.h5 {
    text-decoration: line-through;
}
.card-group {
    margin-top: 50px;
}

img.card-img-top {
    max-width: 300px;
    max-height: 300px;
}