/* .image {
    text-align: center;
    background: aliceblue;
    height: 130px;}
figure {
    margin-top: 5em;
}


form {
    margin: 60px 0;
}

.figure-img {
    
    border: 2px solid;
    border-radius: 15em;
} */

input#file-input {
    display: none;
}


/* span {
    width: 80px;
    cursor: pointer;
    
} */

/* @media screen and (max-width:415px){
   
        .col {
            flex: none;
        }
      
} */


