


* {
    box-sizing: border-box;
}

body {
    background:url(../assets/sigin.jpg);
    background-size: cover;
    font-family: arial;
    color: #333;
    font-size: 13px;
    margin:0;
}
input ,select,button {
    font-family: arial;
    color: #333;
    font-size: 14px;
}
h3,h4{
    margin: 0;
}
img {
    max-width:100%
}
:focus{
    outline:none;
}
.wrapper{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items : center;
    justify-content: center;
    padding: 100px 0 100px;

}
.inner{
    padding: 20px;
    background:#fff;
    max-width: 850px;
    margin:auto;
    display: flex;
}



.image {
    height:100%;
}

.inner form{
    width:50%;
    padding-top:36px ;
    padding-left: 45px;
    padding-right:45px;
}

.inner h3{
    text-transform: uppercase;
    font-size:25px;
    text-align: center;
    margin-bottom: 28px;
}

.form-group{
    display: flex;
}
.form-group input{
    width:50%;
}
.form-group input:first-child{
    margin-right:25px ;
}
.form-wrapper{
  position: relative;  
}

input.form-control-input  {
    border :1px solid #333;
    border: none;
    border-bottom:  1px solid #333;
    border-radius: none;
    display:block;
    width:100%;
    height:30px;
    padding-right: 0;
    margin-bottom: 25px;  
}
input.PhoneInputInput   {
    border :1px solid #333;
    border: none;
    border-bottom:  1px solid #333;
    border-radius: none;
    display:block;
    width:100%;
    height:30px;
    padding-right: 0;
    margin-bottom: 25px;  
}
.PhoneInputCountry{
    margin-bottom: 25px;
}
select.PhoneInputCountrySelect{
    border :1px solid #333;
    border: none;
    border-bottom:  1px solid #333;
    display:block;
    width:100%;
    height:30px;
    padding-right: 0;
    margin-bottom: 100px;  
    border-radius :none;
}

select.form-control-input  {
    border:1px solid #333;
    border: none;
    border-bottom:  1px solid #333;
    border-radius: none;
    display:block;
    width:100%;
    height:30px;
    padding-right: 0;
    margin-bottom: 25px;  
    /* padding: 0.275rem 0.75rem; */
    color:gray;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://stackoverflow.com/favicon.ico) 95% / 10% no-repeat ;
}

.ahmad{ 
    border:none;
    width:164px;
    height:51px;
    margin:auto;
    margin-top:40px;
    cursor: pointer;
    display: flex;
    align-items : center;
    justify-content: center;
    padding-left: 0;
    background:#333;
    font-size: 15px;
    color:#fff;
} 

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
} 
.image-hplder {
    width: 50%;
}
.SMI {
    /* display: block; */
    text-align: center;
}
  

@media (max-width: 767px) {
    .inner{
        display:block;
    }
    .inner .image-holder{
        width:100%
    }
    .inner form{
        width:100%;
        padding:40px 0 30px
    }
}



