.inner2{

    background:#fff;
    max-width: 850px;
    display: flex;
    padding: 2.5%;

}

button.btn.btn.btn-primary {
    margin: auto;
    display: block;
}

.image-holder{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:50%;
    padding-right:2.5%;

}
.form  {
    width:50%;
}
form.form{
    margin: auto;
}
.mb-3 input {
    border :1px solid #333;
    /* border: none; */
    border-bottom:  1px solid #333;
    display:block;
    /* width:100%;
    height:30px; */
    padding-right: 0;
    margin-bottom: 25px;  
   
    /* border-radius: 40px; */
}
a.btn.btn-sign {
    color:blueviolet;
    text-align: center;

}

@media (max-width: 767px) {
    .inner2{
        display:block;
    }
    .inner2 .image-holder{
        width:100%
    }
    .inner2 form{
        width:100%;
        padding:40px 0 30px
    }
}







